main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,
form p {
    text-align: left;
    display: block;
    font-size: 18px;
    margin: 10px 0;
}

.input-padrao {
    display: block;
    margin: 10px 0;
    padding: 10px 25px;
    width: 50%;
}

.pergunta {
    margin: 15px 0;
}

.checkbox {
    margin: 20px 0;
}